.config/weather-yr.no/
.config/nvim/.netrwhist
.config/nvim/plugin/packer_compiled.lua
.config/fontconfig/conf.d/
.config/gtk-3.0/bookmarks
.aws/
.local/bin/arthur
.local/bin/nvim-mason/bin
.local/bin/nvim-mason/.packages
.local/bin/nvim-mason/packages
